body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: palegreen;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    margin: auto;
    padding: 10px;
    background-color: palevioletred;
    box-shadow: 5px 5px 5px black;
}

.calc-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 80px;
    margin: 10px 0px;
}

.calc-btn {
    display: flex;
    width: 80px;
    height: 80px;
    border: solid 1px black;
    background-color: teal;
    box-shadow: 1px 1px 1px black;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.calc-btn:active {
box-shadow: none;
}

.output-row {
    justify-content: end;
    color: white;
    width: 375px;
    background-color: black;
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;
}

#clear-btn {
    background-color: red;
    flex: 2;
    margin-right: 5px;
}

#blank-btn {
    margin-right: 5px;
}

.number-btn {
    background-color: purple;
}

#equals-btn {
    background-color: white;
}