body {
    margin: 0;
    background-color: paleturquoise;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: palegreen;
}

.calculator {
    width: 500px;
    height: 800px;
    margin: auto;
    background-color: palevioletred;
}